{% load static %}

<div class="top-navbar">
  <ul>
    <li class="first-item">
      <a href="{% url 'home' %}"><img class="logo" src="{% static '/images/logo.jpg' %}" alt=""></a>
    </li>

    <li>
      <a href="{% url 'products' %}">Products</a>
    </li>

    <li>
      <a href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    {% if user.is_authenticated %}



    <li class="logout">
      <a href="{% url 'logout' %}">Log Out</a>
    </li>

    <li class="user-account">
      <a href="{% url 'account/{{user.id}}' %}">Hello {{user.username}}</a>
    </li>


    {% else %}
    <li class="login">
      <a href="{% url 'login' %}">Log In</a>
    </li>


    {% endif %}




  </ul>

</div>



<style>
  .logo {
    height: 10px;
    width: 50px;
  }

  body {
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222831;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .logout {
    float: right;
  }

  .user-account {
    float: right;

  }

  .login {
    float: right;

  }



  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #393e46;
  }
</style>